<div class="container-fluid col-xs-6 col-md-4 col-md-offset-4">

  <br>
  <br>
  <%user = @user %>
  <%if can? :manage, user %>
      <div class="panel-heading">
        <h3 class="panel-title"><strong><h3 class="text-center">Editar informações de cadastro</h3></strong></h3>
      </div>

    <%= render 'form', user: @user %>

    <%= link_to 'Visualizar', @user, :class => "btn btn-info" %> |
    <%= link_to 'Voltar', users_path, :class => "btn btn-primary"%>
  <%else %>
    <h1>Você não pode editar uma conta que não lhe pertence</h1>
  <%end %>

</div>



